[submodule "charts/Charts.js"]
	path = charts/Charts.js
	url = https://github.com/nnnick/Chart.js
[submodule "charts/charts/Charts.js"]
	path = charts/charts/Charts.js
	url = https://github.com/nnnick/Chart.js
[submodule "submodules/Chart.js"]
	path = submodules/Chart.js
	url = https://github.com/nnnick/Chart.js.git
